page-items {
    font-family: "Hacen Tunisia Lt";
    // .header {
    //     background-color: lightgrey;
    // }
    // // .grid{
    // // width: 80%;
    // // }
    // .col {
    //     border: solid 1px grey;
    //     border-bottom-style: none;
    //     border-right-style: none;
    // }
    // .col:last-child {
    //     border-right: solid 1px grey;
    // }
    // .ssss {
    //     flex: 0 0 40px;
    // }
    // .ssss2 {
    //     flex: 0 0 50px;
    // }
    // .row:last-child .col {
    //     border-bottom: solid 1px grey;
    // }
    // .ion-select {
    //     width: 100%;
    //     max-width: 100% !important;
    //     padding-left: 0px;
    // }
    .md scroll-content {
        overflow-y: auto;
    }
    .div50 {
        background-color: #e20e0e;
        width: 48%;
        float: left;
        margin: 1%;
        border: 1px solid #b0b4b5;
        border-radius: 1%;
    }
    .col-50 {
        display: flex;
    }
    .img_btn {
        margin-left: auto;
        margin-right: auto;
        background-color: #fbfbfb;
        margin-top: 15px;
    }
    .div_right {
        background: grey;
        width: 48%;
        float: right;
        margin: 1%;
    }
    .b {
        box-shadow: none;
        font-size: 15px !important;
    }
    .btn_col {
        box-shadow: none;
    }
    .img {
        height: 180px;
        // width: 300px;
        display: block;
        border: 1px solid grey;
        border-radius: 1%;
        box-shadow: 0 0 2px #000;
        margin-bottom: 20px;
    }
    .img-btn {
        text-align: center !important;
    }
    .ssss {
        flex: 0 0 50px;
    }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .btn_col {
        box-shadow: none;
        height: 45px;
        bottom: 2px;
    }
    // https://forum.ionicframework.com/t/ion-input-green-line-when-type-number/69750/2
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }
    .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
    }
    //////////////////////////////////////////////////////////////////////
    // .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    //     vertical-align: top;
    //     border-top: 1px solid grey;
    // }
    // ///////////////////////////////////////////////////////////////////////////////////////////////////
    // .male-row {
    //     background-color: rgb(6, 240, 201) !important;
    // }
    // // .female-row {
    // //     background-color: rgb(0, 26, 255) !important;
    // // }
    // .datatable-header-cell {
    //     color: #227da0;
    //     font-size: 16px;
    //     font-weight: bold;
    //     font-family: "Arial";
    //     // background-color:#181b24 !important;
    // }
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .datatable-header {
        height: unset !important;
    }
    .ngx-datatable.bootstrap .datatable-header {
        // vertical-align: bottom;
        // padding: 0.0rem !important;
        // border-bottom: 1px solid grey;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        background-color: rgba(128, 128, 128, 0.507);
        border-top: 1px solid grey;
    }
    .datatable-header-cell {
        color: #227da0;
        font-size: 16px;
        font-weight: bold;
        font-family: "Arial";
        top: 3px;
    }
    .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell {
        // text-align: left;
        // vertical-align: top;
        // border-left: 1px solid #000;
        // border-right: 1px solid #000;
        border-top: 1px solid grey;
    }
}