<ion-header class="no-print">

    <ion-navbar color="gray">
        <button class="navigation_hover" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-buttons end>
            <button ion-button (click)="pdf()" style="color:  #f5f5f5;font-weight: bold;font-family: Arial" clear>Pdf</button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button (click)="print()" style="color:  #f5f5f5;font-weight: bold;font-family: Arial" clear>Print</button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button (click)="view()" style="color:  #f5f5f5;font-weight: bold;font-family: Arial" clear>View</button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content fullscreen style="background-color: #eeeded;">

    <ion-grid class="no-print">
        <ion-row wrap>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 class="col-50">
                <ion-item>
                    <ion-label>From</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="event1.startTime">
                    </ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 class="col-50">
                <ion-item>
                    <ion-label>To</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="event2.endTime">
                    </ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>




    <!-- <div id='header' class="table-header" style="overflow-y:scroll;" [ngClass]="{'total_hidden': (total_page==false),'total_show': (total_page==true)}">

        <table border="1" cellspacing=" 0 " cellpadding="0 " [ngClass]="{ 'color_show': (color==true)} " class="fixed_headers">

            <thead>
                <tr>
                    <th class="code">Code</th>
                    <th class="item_name">Item Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th class="group_name">Group Name</th>
                    <th>Time</th>
                    <th style="font-size: 15px " (click)="switchStyle() ">
                        <ion-icon name="bulb " style="font-size: 30px "></ion-icon>
                    </th> 
                </tr>
            </thead>

            <tr *ngFor="let item of sales_item$ | async ">
                <td data-label="Code">{{item.code}}</td>
                <td data-label="Item Name ">{{item.itemname}}</td>
                <td data-label="Qty ">{{item.qty}}</td>
                <td data-label="Price ">{{item.price}}</td>
                <td data-label="Total ">{{item.total}}</td>
                <td data-label="Group Name ">{{item.groupname}}</td>
                <td data-label="Time ">{{item.unix | date: 'dd/MM/yyyy h:mm a' }}</td>
                 <td data-label="Period "></td>
            </tr>



            <tr style=" height:50px;background-color: #464646; padding-top: 10px; color: #227da0; font-size: 16px; font-weight: bold; font-family: Arial; " [ngClass]="{ 'total_hidden': (total_page==false), 'total_show': (total_page==true)} ">


                <td style="width: 100px ">{{this.Count_Rows}} </td>
                <td data-label="Item Name "></td>

                <td> {{this.total_qty}} </td>
                <td data-label="Price "></td>

                <td> {{this.total}} </td>
                <td data-label="Group Name "></td>
                <td data-label="Time "></td>
                <td data-label="Period "></td>

            </tr>

        </table>


    </div> -->



    <table id="customers" style="overflow-y:scroll;" [ngClass]="{'total_hidden': (total_page==false),'total_show': (total_page==true)}">
        <!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy -->
        <tr>
            <th class="code">Code</th>
            <th class="item_name">Item Name</th>
            <th class="Time">Qty</th>
            <th class="Time">Price</th>
            <th class="Time">Total</th>
            <th class="group_name">Group Name</th>
            <th class="Time">Time</th>
        </tr>

        <tr *ngFor="let item of sales_item$ | async">
            <td data-label="Code">{{item.code}}</td>
            <td data-label="Item Name ">{{item.itemname}}</td>
            <td data-label="Qty ">{{item.qty}}</td>
            <td data-label="Price ">{{item.price}}</td>
            <td data-label="Total ">{{item.total}}</td>
            <td data-label="Group Name ">{{item.groupname}}</td>
            <td data-label="Time ">{{item.unix | date: 'dd/MM/yyyy h:mm a' }}</td>
        </tr>

        <tr class="under_td" [ngClass]="{ 'total_hidden': (total_page==false), 'total_show': (total_page==true)} ">

            <td>{{this.Count_Rows}} </td>
            <td data-label="Item Name"></td>

            <td> {{this.total_qty}}</td>
            <td data-label="Price"></td>

            <td> {{this.total}} </td>
            <td data-label="Group Name"></td>
            <td data-label="Time"></td>

        </tr>

    </table>

</ion-content>


<!-- <ngx-datatable class="fullscreen " [ngClass]="tablestyle " [rows]="sales_item$ | async " [columnMode]=" 'flex' " [scrollbarH]="true " [loadingIndicator]="loading " [sortType]=" 'multi' " [reorderable]="false " [rowHeight]="50 " [headerHeight]="50
            " [summaryPosition]=" 'top' ">

        <ngx-datatable-column [flexGrow]="0.4 " [minWidth]="70 ">
            <ng-template ngx-datatable-header-template>
                <span style="margin-left: 10px ">Code</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span style="margin-left: 10px "> {{row.code}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1 " [minWidth]="150 ">
            <ng-template ngx-datatable-header-template>
                <span>Item Name</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.itemname}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="0.4 " [minWidth]="50 ">
            <ng-template ngx-datatable-header-template>
                <span>Qty</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.qty}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="0.4 " [minWidth]="50 ">
            <ng-template ngx-datatable-header-template>
                <span>Price</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.price}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="0.4 " [minWidth]="50 ">
            <ng-template ngx-datatable-header-template>
                <span>Total</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.total}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1 " [minWidth]="150 ">
            <ng-template ngx-datatable-header-template>
                <span>Group Name</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.groupname}} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1 " [minWidth]="150 ">
            <ng-template ngx-datatable-header-template>
                <span>Time</span>
            </ng-template>
            <ng-template let-row="row " ngx-datatable-cell-template>
                <span> {{row.unix | date: 'dd/MM/yyyy h:mm a' }} </span>
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [resizeable]="false " [flexGrow]="0.5 " [sortable]="false " [minWidth]="50 ">
            <ng-template ngx-datatable-header-template>
                <ion-icon name="bulb " style="font-size: 30px " (click)="switchStyle() "></ion-icon>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <div style="height:50px;background-color: #464646;padding-top: 10px " [ngClass]="{ 'total_hidden': (total_page==false), 'total_show': (total_page==true)} ">

        <ngx-datatable [columnMode]=" 'flex' " [scrollbarH]="true " [loadingIndicator]="loading " [sortType]=" 'multi' " [reorderable]="false " [rowHeight]="50 " [headerHeight]="50 " [summaryPosition]=" 'top' ">

            <ngx-datatable-column name="&nbsp; Rows : {{this.Count_Rows}} " [flexGrow]="0.4 " [minWidth]="70 "></ngx-datatable-column>
            <ngx-datatable-column name=" " [flexGrow]="1 "></ngx-datatable-column>
            <ngx-datatable-column name="{{this.total_qty}} " [flexGrow]="0.4 "></ngx-datatable-column>
            <ngx-datatable-column name=" " [flexGrow]="0.4 "></ngx-datatable-column>
            <ngx-datatable-column name="{{this.total}} " [flexGrow]="0.4 "></ngx-datatable-column>
            <ngx-datatable-column name=" " [flexGrow]="1 "></ngx-datatable-column>
            <ngx-datatable-column name=" " [flexGrow]="1 ">
                <ng-template let-row="row " ngx-datatable-cell-template>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [resizeable]="false " [flexGrow]="0.5 " [sortable]="false ">
                <ng-template ngx-datatable-header-template>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </div> -->