page-purchases {
    font-family: Arial;
    font-size: 20px;
    .header {
        background-color: lightgrey;
    }
    // .grid{
    //   width: 100%;
    // }
    // .col {
    //   border: solid 1px grey;
    //   border-bottom-style: none;
    //   border-right-style: none;
    // }
    // .col:last-child {
    //   border-right: solid 1px grey;
    // }
    // .row:last-child .col {
    //   border-bottom: solid 1px grey;
    // }
}